<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Detection by Auto Car Lights</title>
    <script>
        window.setTimeout(function (){
            window.location.reload();
        },1000);
    </script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">
    </head>

    <body class="body1">

        <h1 class="h1index">LIGHT DETECTION BY AUTO CAR LIGHTS</h1>
        
        <h3>How the Auto Car lights will react:</h3><br><br>

        <a href="../templates/inside.html" class="btn btn-danger" target="_blank" class="inside">If the car is inside a tunnel!</a><br><br>

        <a href="../templates/outside.html" class="btn btn-success" target="_blank" class="outside">If the car is outside a tunnel!</a><br><br>

        
            {% if (status) == 0 %} 

            <h1>Light Detected! Turning OFF the Headlights...</h1>

            <img src="../static/Car-on-road.png" width="100%" height="100%">


            

            {% endif %}

            {% if (status) == 1 %}

            <h1>No Light Detected! Turning ON the Headlights...</h1>

            <img src="../static/car-in-tunnel-.png" width="100%" height="100%">

            {% endif %}
        

    </body>
</html>