<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Detection by Auto Car Lights</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <h1>
          <p>No Light Detected! Turning ON Headlight.</p>
          <img src="../static/car-in-tunnel-.png" class="in">
        </h1>
    </body>
</html>